
body h1, h2, h3, p, em {
  font-family: 'Nanum Gothic', 'Quicksand', sans-serif;
}
.reveal h1 {
  font-size: 2.77em;
}
.reveal h2 {
  font-size: 1.88em;
}
.reveal h3 {
  font-size: 1.00em;
}
.reveal section img {
  border: 4px solid #ffffff;
}
.reveal img.borderless {
  margin: 0;
  border: none;
  box-shadow: none;
}
.reveal cite {
  font-style: italic;
}
.reveal .right {
  float: right;
}
.reveal .left {
  float: left;
}
.reveal pre {
  box-shadow: none;
}
.reveal .quite-li {
  list-style: none;
}
.reveal strong {
  font-size: 1.44em;
}
.reveal .transparent {
  background: transparent !important;
}
.white {
  margin-bottom: 0px !important;
}
